<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite  name="gocardi Regressoin Suite">
<parameter name="browser" value="chrome"></parameter>
  <test name="Regression Test">
    <classes>
    <!--# of test cases -->
      <class name="tests.UserRegistrationTest"/>
      <class name="tests.LoginTest"/>
    </classes>
  </test>
</suite>  
